.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: calc(90vh - 1px);
}

.skills-title {
  margin-top: 40px;
  font-size: 2rem;
  text-shadow: 2px 2px green;
  letter-spacing: 2px;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  padding: 20px 0;
  border-radius: 16px;
  /* margin-bottom: 50px; */
  /* box-shadow: 0px 0px 5px 2px green; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.hex-svg-wrapper {
  width: 100px;
  height: 115px;
}

.hex-svg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  filter: drop-shadow(0px 0px 8px green);
}

.hex-svg:hover {
  filter: none;
  transform: scale(1.1);
  /* cursor: url('../../components/Images/pointer.png'), auto; */
}

.hex-shape {
  fill: #111;
  transition: fill 0.3s ease;
}

.hex-svg:hover .hex-shape {
  fill: green;
}

.hex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  text-align: center;
  height: 95%;
  user-select: none;
}

.hex-content .icon {
  font-size: 24px;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 65px;
  max-width: 800px;
  /* border-radius: 16px;
  margin: 0 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 2px green; */
  /* background-color: rgba(0, 0, 0, 0.4);   */
}



.skills-wrapper article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  border-radius: 16px;
  margin: 0 20px;
  padding: 10px 15px;
}

.skills-wrapper article h3{
  text-align: center;
  letter-spacing: 4px;
  text-decoration: underline 1px limegreen;
  text-underline-offset: 6px;
}

.skills-wrapper article > ul {
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  list-style-position: inside;
  list-style-type: disc;
}

/* .skills-wrapper article > ul li::marker {
  color: green;
} */



/* Responsive */
@media (max-width: 600px) {
  .hex-svg-wrapper {
    width: 80px;
    height: 90px;
  }

  .hex-content .icon {
    font-size: 20px;
  }

  .hex-content p {
    font-size: 12px;
  }
  .skills-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .skills-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .skills-wrapper article {
    width: 60%;
    max-width: 200px;
  }

  .skills-wrapper h3 {
    font-size: 1rem;
    text-align: center;
  }

  .skills-wrapper li {
    font-size: 0.85rem;
    text-align: left;
    list-style-position: outside;
    padding-left: 1em; 
  }
}
